.navSection {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s;
  border-bottom: 1px solid #f3f3f3;
}
.navbar {
  background-color: #191919;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 5px 0px;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.left {
  font-size: 20px;
}
.right {
  display: flex;
  gap: 20px;
}
.right li {
  list-style: none;
  font-size: 18px;
  cursor: pointer;
}

.sticky {
  position: absolute;
  top: 0px;
}
.slidebar {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 100vh;
  background: #2a2929;
  transition: 0.5s;
}

.slidebar ul {
  position: relative;
  height: 100vh;
  margin-top: 50px;
}
.slidebar ul li {
  list-style: none;
}
.slidebar ul li:hover {
  background-color: #191919;
}
.slidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}
.slidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 50px;
  font-size: 1.2em;
  color: white;
}
.slidebar ul li a .text {
  position: relative;
  height: 60px;
  display: flex;
  color: #d97f12;
  align-items: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.hideSidebar {
  color: white;
  font-size: 27px;
  position: absolute;
  top: -40px;
  right: 10px;
}
.menuBar {
  display: none;
  font-weight: 800;
}
@media only screen and (max-width: 768px) {
  .right {
    display: none;
  }
  .menuBar {
    display: block;
  }
  .navbar {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 576px) {
  .navbar {
    padding: 0px 40px;
  }
}
