.projectSection{
    margin: 4% 10%;
    color: white;
}
.projectSection h1{
    border-bottom: 4px solid #d97f12;
    display: inline-block;
    margin-bottom: 20px;
}
.project{
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #fda63c;
    background-color: #292828;
}
.aboutProject{
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.aboutProject button{
    background-color: #191919;
    padding: 8px 20px;
    outline: none;
    color: #d97f12;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    font-size: 15px;
    border: 1px solid #d97f12;
}
.aboutProject button:hover{
    background-color: #d97f12;
    color: black;
}
.aboutProject button:active{
    background-color: #d9923a;
}
.allproject{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
@media only screen and (max-width: 576px){
    .projectSection{
        margin: 4%;
    }
    .aboutProject h1{
        font-size: 30px;
        font-weight: 400 !important;
    }
}