.ResumeSection {
padding: 5% 0%;
  color: #f4b062;
  font-size: 22px;
  
}
.ResumeSection center h1{
  font-weight: 500;
  letter-spacing: 3px;
}
@media only screen and (max-width:768px){
  .ResumeSection {
      font-size: 14px;
    }
}
@media only screen and (max-width:576px){
  .ResumeSection {
      font-size: 10px;
    }
}
